* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    position: relative;
}
button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    font-size: inherit;
    color: inherit;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
a {
    color: inherit;
    font-size: inherit;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
input {
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
    border: none;
    padding: 0;
}
.blind {
    display: none;
}
